<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>게시판</title>
  </head>
  <body>
    <div class="container" id="contents" layout:fragment="contents">
      <h2 class="mt-5 mb-3">게시판</h2>

      <table class="table table-striped mt-5 text-center">
        <colgroup>
          <col style="width: 10%" />
          <col style="width: 20%" />
          <col style="width: 20%" />
          <col style="width: 40%" />
          <col style="width: 10%" />
        </colgroup>
        <tr>
          <th style="background-color: #6f6f6f; color: #fff">no</th>
          <th style="background-color: #6f6f6f; color: #fff">name</th>
          <th style="background-color: #6f6f6f; color: #fff">subject</th>
          <th style="background-color: #6f6f6f; color: #fff">regdate</th>
          <th style="background-color: #6f6f6f; color: #fff">hit</th>
        </tr>
        <tr th:each="replyBoard : ${replyBoardList}">
          <td>[[${replyBoard.no}]]</td>
          <td th:text="${replyBoard.name}"></td>
          <td><a th:href="@{/board/view(no = ${replyBoard.realNo})}">[[${replyBoard.subject}]]</a></td>
          <td th:text="${replyBoard.regDate}"></td>
          <td th:text="${replyBoard.hit}"></td>
        </tr>
      </table>
      <a href="/board/write"><button class="btn btn-primary">글 작성하기</button></a>
    </div>
  </body>
</html>
