<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layout/layout.html}">
  <head>
    <title>게시판</title>
  </head>
  <body>
    <div class="container" id="contents" layout:fragment="contents">
      <h2 class="mt-5 mb-3 m">게시판</h2>
      <form th:action="@{/board/modifyPwdCheckProcess(no = ${boardDto.no}, operation = ${operation})}" method="POST" class="mt-5">
        <div class="mb-3">
          <label for="" class="form-label">비밀번호</label>
          <input type="password" class="form-control" id="" placeholder="비밀번호" name="password" />
        </div>
          <button type="submit" class="btn btn-primary btn-lg">확인</button>
          <button type="reset" class="btn btn-secondary btn-lg">취소</button>
        </div>
      </form>
    </div>
  </body>
</html>
