<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "https://mybatis.org/dtd/mybatis-3-mapper.dtd" PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN">
<mapper namespace="com.jjang051.mybatis.board">

<!-- select는 resultType과 parameterType을 가질 수 있다. id는 dao의 메서드 명이랑 일치 시켜주면 된다.-->

<select resultType="com.jjang051.ch04.dto.BoardDto" id="getAllBoard">
    SELECT * FROM BOARD03 ORDER BY NO 
</select>
<select resultType="com.jjang051.ch04.dto.BoardDto" id="getSelectOne" parameterType="Integer">
    SELECT * FROM BOARD03 WHERE NO = #{no}
</select>


<!-- insert, delete, update는 resultType이 없다 -->
<insert id="insertBoard" parameterType="BoardDto">
    INSERT INTO BOARD03 VALUES (BOARD03_SEQ.NEXTVAL,#{userName},#{subject},#{contents},SYSDATE,0) 
</insert>
<update id="updateHit" parameterType="Integer">
    UPDATE BOARD03 SET HIT = HIT + 1 WHERE NO = #{no} 
</update>
<update id="updateBoard" parameterType="BoardDto">
    UPDATE BOARD03 SET userName=#{userName}, subject=#{subject}, contents=#{contents} WHERE NO = #{no} 
</update>

</mapper>