body {
  color:#111;
}
a {
  text-decoration: none;
  color:inherit;
}
#main {
  padding:100px 0;
}
table{
  .contents {
    min-height: 300px;
    white-space: pre-wrap;
  }
  .th {
    width:200px;
    background-color: #f8f8f8;
  }
} 

.space {
  &:before {
    font-family: "Material Icons";
    content: "\e5da";
    display: inline;
  }
}
.space1 {
  padding-left: 0px;
}
.space2 {
  padding-left: 20px;
}
.space3 {
  padding-left: 40px;
}
.space4 {
  padding-left: 60px;
}

#searchForm {
  padding:0 150px;
  display: flex;
  select {
    flex-basis: 200px;
  }
  input {
    flex-grow: 1;
    margin: 0 10px;
  }
  button {
    flex-basis:150px;
  }
}

a.none {
  pointer-events: none;
}

.prevAndNext {
  display: flex;
  flex-direction: column;
  div{
    padding:20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    &:nth-child(1) {
      border-top: 1px solid #ccc;
    }
    span {
      flex-basis: 200px;
      font-weight: 700;
      text-transform: uppercase;
    }
    a {
      flex-grow: 1;
    }
  }
}


// #searchForm {
//   padding:0 100px;
//   display: flex;
//   select {
//     flex-basis: 200px;
//   }
//   input {
//     flex-grow: 1;
//     margin: 0 10px;
//   }
//   button {
//     flex-basis: 150px;
//   }
// }