<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
                xmlns:th="http://www.thymeleaf.org" 
                layout:decorate="~{/layout/layout.html}">
<head>
  <title>BOARD WRITE</title>
</head>
<body>
  <div class="container" id="contents" layout:fragment="contents">
    <h2>LIST</h2>
    <!-- <p th:text="${msg}">메세지 출력하는 곳</p> -->
    <table class="table table-striped mt-5">
      <colgroup>
        <col style="width:50px">
        <col>
        <col style="width:200px">
        <col style="width:200px">
        <col style="width:50px">
      </colgroup>
      <thead>
        <tr class="text-center">
          <th scope="col">NO</th>
          <th scope="col">SUBJECT</th>
          <th scope="col">WRITER</th>
          <th scope="col">DATE</th>
          <th scope="col">HIT</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="item : ${boardList}" class="text-center">
          <th th:text="${item.no}">1</th>
          <td class="text-start ps-sm-5">
            
            <a th:text="${item.subject}" href="/board/view" 
               th:href="@{/board/view(no=${item.no},num=${item.num})}" th:class="${item.reStep > 1}? 'space' : 'aaa bbb'" th:classappend="'space'+${item.reStep}"
               th:if="${item.available}">
              아버지를 아버지라 부르지 못하고...
            </a>
            <span th:unless="${item.available}" 
                  th:class="${item.reStep > 1}? 'space' : 'aaa bbb'" 
                  th:classappend="'space'+${item.reStep}">삭제 되었습니다.
            </span>
          </td>
          <td th:text="${item.writer}">홍길동</td>
          <td th:text="${item.regDate}">2023.03.25</td>
          <td th:text="${item.hit}">1</td>
        </tr>
      </tbody>
    </table>
    <div class="text-center mt-5">
      <a href="/board/write" class="btn btn-primary btn-lg">글쓰기</a>
    </div>
    <form class="mt-5" action="/board/list" method="get" id="searchForm">
      <select class="form-select" aria-label="Default select example" name="category">
        <option value="all" selected>전체검색</option>
        <option value="subject">제목</option>
        <option value="contents">내용</option>
        <option value="writer">글쓴이</option>
      </select>
      <input class="form-control" type="text" placeholder="검색어를 입력하세요." aria-label="default input example" name="searchTxt">
      <button class="btn btn-primary" id="btnSearch">SEARCH</button>
    </form>
    <script>
      $("#btnSearch").on("click",function(){
        if($("input[name='searchTxt']").val()==""){
          alert("검색어를 입력해 주세요.");
          return false;
        }
      })
    </script>
  </div>
</body>
</html>