<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jjang051.replyboard.dao.ReplyBoardDao">
	
	<select id="getAllReplyBoard" resultType="ReplyBoardDto">
		SELECT 
    ROWNUM AS no,
    B.NO AS realNo, 
    B.SUBJECT AS subject, 
    B.NAME AS name, 
    B.PASSWORD AS password, 
    B.REGDATE AS regDate, 
    B.CONTENTS AS contents, 
    B.AVAILABLE AS available, 
    B.REGROUP AS regroup, 
    B.RELEVEL AS relevel, 
    B.RESTEP AS restep, 
    B.HIT AS hit 
    FROM (
        (SELECT * FROM REPLYBOARD ORDER BY REGROUP DESC, RELEVEL ASC) B
    )
	</select>

   <select id="getOneReplyBoard" resultType="ReplyBoardDto">
		SELECT * FROM REPLYBOARD WHERE no = #{no}
	</select>

  <select id="getMaxRegroup" resultType="Integer">
    SELECT NVL(MAX(REGROUP), 1) AS MAXREGROUP FROM REPLYBOARD
  </select>

  <insert id="insertReplyBoard" >
      INSERT INTO REPLYBOARD VALUES (REPLYBOARD_SEQ.NEXTVAL, 
                                      #{subject}, 
                                      #{name}, 
                                      #{password}, 
                                      SYSDATE,
                                      #{contents},
                                      1, <!-- AVAILABLE-->
                                      #{reGroup}, <!-- REGROUP -->
                                      #{reLevel}, <!-- RELEVEL -->
                                      #{reStep}, <!-- RESTEP -->
                                      0) 
  </insert>

  <update id="updateHit" parameterType="Integer">
		UPDATE REPLYBOARD SET HIT = HIT + 1 WHERE NO = #{no}
	</update>

	<delete id="deleteReplyBoard">
    DELETE FROM REPLYBOARD WHERE NO = #{NO}
  </delete>
</mapper>



