<!DOCTYPE html>
<html
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <script src="/js/jquery.js"></script>
    <title>Layout</title>
</head>
<body>

    <header id="header">
        <div class="container">
            <h1>로고</h1>
            <nav id="gnb">
                <ul>
                    <li><a href="">회원가입</a></li>
                    <li><a href="">로그인</a></li>
                    <li><a href="">게시판</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!--
    <header th:replace="/fragments/header" :: header>
         여기에 fragments에 있는 거 들고옴
    </header>
    -->

    <!-- 여기만 바뀜 -->
    <main id="main" >
        <div class="container" layout:fragment="contents">
            <h2>컨텐츠 제목</h2>
        </div>
    </main>

    <footer id="footer">
        <address>
            <p>Copyright Reserved</p>
        </address>
    </footer>
</body>
</html>