<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>list</h1>
  <ul>
    <li th:each="todo : ${todoList}">
      <a href="" th:href="@{/view(no=${todo.no})}">
        <span th:text="${todoStat.count}"></span>
        <span th:text="${todo.todo}"></span>
        <span th:text="${todo.done}"></span>
        <span th:text="${todo.pickedDate}"></span>
      </a>
    </li>
  </ul>
</body>
</html>