<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>list</h1>
  <div>
      <div>
        제목 :  <span th:text="${todoJpa.todo}"></span>
      </div>
      <div>
        done :  <span th:text="${todoJpa.done}"></span>
      </div>
      <div>
        날짜 :  <span th:text="${todoJpa.pickedDate}"></span>
      </div>
      <a href="" th:href="@{/modify(no=${todoJpa.no})}">수정</a>
  </div>
</body>
</html>