<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/layout.css">
    <script src="/js/jquery.js"></script>
    <title>HOME</title>
</head>
<body>
    <h1>home</h1>
    <p th:text="${msg}">프엔엔지니어 : 여기에 필요한 문구 넣으시면 됩니다</p>
    <p>[[${msg}]]</p>
    <img src="/images/logo.png" alt="logo.png">
</body>

<script>
    //console.log($);
</script>
</html>