<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/layout.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
  <div class="list gallery">
    <ul>
      <li th:each="item : ${galleryList}" class="mb-3">
        <div class="card w-100">
          <a href="" th:href="@{/view/{no}(no=${item.no})}">
            <img th:src="@{|/upload/${item.renamed}|}" class="card-img-top" alt="...">
            <div class="card-body">
                <h3 class="card-title" th:text="${item.title}">Card title</h3>
                <!-- <p class="card-text" th:text="${item.contents}">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <!-- <span class="btn btn-primary w-100 btn-lg">LINK</span> -->
            </div>
          </a>
        </div>
      </li>
    </ul>
  </div>
</body>
</html>