<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/layout.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery-3.6.4.min.js"></script>
  
</head>
<body>
  <div class="view gallery">
    <div class="card w-100">
      <img th:src="@{|/upload/${galleryDto.renamed}|}" class="card-img-top" alt="...">
      <div class="card-body">
          <h3 class="card-title" th:text="${galleryDto.title}">Card title</h3>
          <p class="card-text" th:text="${galleryDto.contents}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <!-- <span class="btn btn-primary w-100 btn-lg">LINK</span> -->
          <div class="replyBox">
              <ul>
                <li>댓글이 출력됩니다.</li>
                <li>댓글이 출력됩니다.</li>
                <li>댓글이 출력됩니다.</li>
                <li>댓글이 출력됩니다.</li>
              </ul>
          </div>
          <hr>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Please Write Reply</label>
            <textarea class="form-control reply" id="exampleFormControlTextarea1" rows="3"></textarea>
            <hr>
            <div class="btns text-end">
              <button class="btn btn-primary" id="btnConfirm">CONFIRM</button>
            </div>
          </div>
      </div>
    </div>
    <hr>
    <div class="btns text-center">
      <a href="/" class="btn btn-success">LIST</a>
    </div>
  </div>
  
  <script>
    $("#btnConfirm").on("click", function() {
      const sendData = {
        galleryId : 1,
        comments : $(".reply").val()
      }
      $.ajax({
        url:"/insertReply",
        data:sendData,
        type:"POST",
        success : function(response) {
          console.log(response);
          
        }
      })
    });
  </script>
  
  
</body>
</html>