.header {
  background-color: #111;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-weight: bold;
}

.wrap {
  padding: 20px;
}

.todoListBox .todoList {
  margin: 0;
  padding: 0;
}
.todoListBox .todoList li {
  display: flex;
  border-bottom: 1px dotted #ccc;
  align-items: center;
  padding: 10px 0 10px 20px;
  position: relative;
}
.todoListBox .todoList li:before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: #f00;
  position: absolute;
  left: 10px;
  top: 50%;
  transition: all 0.25s ease;
}
.todoListBox .todoList li.done:before {
  width: 200px;
}
.todoListBox .todoList li .txt {
  flex-grow: 1;
}
.todoListBox .todoList li button {
  border: none;
  background-color: #111;
  color: #fff;
  border-radius: 3px;
  margin-left: 5px;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#button-addon2 {
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.footer p {
  padding: 5px 20px;
  background-color: #111;
  color: #fff;
  border-radius: 100px;
  font-size: 14px;
  text-transform: uppercase;
}